name: Rust

on: push

env:
  CARGO_TERM_COLOR: always

jobs:
  build-run:
    strategy:
      matrix:
        directory: [day1,day2,day3,day4,day5,day6,day7,day8,day9,day10]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Build
      working-directory: ${{ matrix.directory }}
      run: cargo build --verbose
    - name: Run tests
      working-directory: ${{ matrix.directory }}
      run: cargo test --verbose
  
  release-please:
    runs-on: ubuntu-latest
    needs: build-run
    environment: deploy
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          # this assumes that you have created a personal access token
          # (PAT) and configured it as a GitHub action secret named
          # `MY_RELEASE_PLEASE_TOKEN` (this secret name is not important).
          token: ${{ secrets.RELEASE_TOKEN }}
          # this is a built-in strategy in release-please, see "Action Inputs"
          # for more options
          release-type: rust
