name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-day1:
    strategy:
      matrix:
        directory: [day1]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Build
      working-directory: ${{ matrix.directory }}
      run: cargo build --verbose
    - name: Run tests
      working-directory: ${{ matrix.directory }}
      run: cargo test --verbose
    - name: Run
      working-directory: ${{ matrix.directory }}
      run: cargo run --verbose
